body{
	background-color:  #232323;
	margin: 0;
	font-family: "Avenir";
}

.square{
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	background: pink;
	float: left;
	border-radius: 15%;
	transition: background 0.6s;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}

button{
	border:none;
	background-color: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	outline: none;
}

h1{
	color:white;
	text-align: center;
	background-color: steelblue;
	line-height: 1.1;
	padding: 20px 0;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.3s;
}

button:hover{
	color:white;
	background-color: steelblue;
}

#message{
	color: black;
	display: inline-block;
	width: 20%;
}

#strip{
	background: white;
	height: 30px;
	text-align: center;
}

.selected{
	background: steelblue;
	color: white;
}

#colorDisplay{
	font-size: 200%;
}